*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}
/*
1.Out to In 
2. Top to Bottom 
3. Tong quan den chi tiet 
 */
/* 
1. Location
2.Size (Width,Height,..)
3.Color
4.Style
 */

 #main {

 }

 #header {
    height: 46px;
    background-color: #000;
 }
 
 #nav {

 }
 #nav li {
     display: inline-block;
 }
 #nav .subnav {
     display: none;
 }
 #nav li a {
     color: #fff;
     text-decoration: none;
     line-height: 46px;
     padding: 0 24px;
     display: inline-block;
 }

 #nav li:hover a {
     color: #000;
     background-color: #ccc;
 }
 #slider {

 }

 #content {

 }

 #footer  {

 }
